extends layout

block content
  #magic
    h1= app.name
    p This is a sample paragraph. Welcome to #{app.name}

block scripts
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
  script(type='text/javascript')
    $(document).ready(function() {
      $('#magic').hide().delay(300).show('slow');
    });